<mat-card appearance="outlined">
  <p>
    Notice a bug, have a feature request, or just want to send some general feedback about the app? Please send all feedback to <a href="mailto:admin@houseofgate.com">admin@houseofgate.com</a>!
  </p>
  <h3>For Bug Reports</h3>
  <p>
    For bug reports, please include all (or as much as possible) of the following information:
  </p>
  <ul>
    <li>Date bug happened</li>
    <li>Your device, operating system, browser, and version. Ex: iPhone iOS 15.1, Safari browser</li>
    <li>Where it happened</li>
    <li>Detailed instructions of how to reproduce this bug</li>
    <li>Any screenshots or recordings of this bug happening</li>
  </ul>
</mat-card>
