ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  height: 100%;
}

div {
  break-inside: avoid !important;
}

p {
  break-inside: avoid !important;
}

ul {
  break-inside: avoid !important;
}

@media print {
  * {
    line-height: normal !important;
    line-break: normal !important;
  }
  p {
    margin: 0 !important;
    line-height: normal !important;
  }
  span {
    line-height: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    &.mat-headline-4 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding: 0 !important;
      line-height: normal !important;
    }
  }
  div#spell-card {
    width: 8in !important;
    padding-left: 0.2in !important;
    padding-right: 0.2in !important;
  }
  div#spell-card-contents {
    width: 8in;
  }
  #spell-card-column-1 {
    width: 1.5in;
  }
  #spell-card-column-2 {
    width: 1.5in;
  }
  #spell-card-column-3 {
    width: 5.5in;
  }
  #spell-text {
    max-width: 5in !important;
    padding: 0 0.4in !important;
  }
}

div#spell-card {
  border: 2px solid rgb(16, 16, 16);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-shadow: -3px 3px 5px rgb(16, 16, 16);
  &:hover {
    box-shadow: -3px 3px 5px black;
    border: 2px solid black;
  }
  &p {
    margin: 0;
  }
  span.mat-headline-4 {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: sub;
  }
}

#spell-text {
  height: 100%;
  width: 100%;
  ul {
    margin: 0;
    padding-left: 1.75rem;
  }
}
