<div id="spell-card" fxLayout="column">
  <div fxLayout="row" fxLayoutGap="1rem">
    <div fxLayout="column" fxFlex="20%">
      <p class="mat-headline-6">{{ spell().name }}</p>
      <p class="mat-body-1">
        @if(spell().level > 0) {
        {{ spell().level | ordinal }} Level
        {{ spell().school | titlecase }} Spell } @else {
        {{ spell().school | titlecase }} Cantrip }
      </p>
      <p><span class="mat-headline-4">&#x2610;</span>&nbsp;Known?</p>
      <p><span class="mat-headline-4">&#x2610;</span>&nbsp;Prepared?</p>
    </div>
    <div fxLayout="column" fxFlex="20%" fxLayoutGap="1rem" class="mat-small">
      <ul class="no-bullets" fxFlex>
        <li><span class="bold">Casting Time:</span>&nbsp;{{ spell().time }}</li>
        <li><span class="bold">Range:</span>&nbsp;{{ spell().range }}</li>
        <li><span class="bold">Duration:</span>&nbsp;{{ spell().duration }}</li>
      </ul>
      <ul class="no-bullets" fxFlex>
        <li>
          <span class="bold">Components:</span>&nbsp;{{ spell().components }}
        </li>
        <li>
          <span class="bold">Ritual?</span>&nbsp;{{
            spell().ritual | yesno | titlecase
          }}
        </li>
        <li>
          <span class="bold">Concentration?</span>&nbsp;{{
            spell().concentration | yesno | titlecase
          }}
        </li>
      </ul>
    </div>
    <div fxLayout="column" fxFlex="60%">
      <div id="spell-text" class="mat-small" fxFlex>
        <span>{{ spell().text }}</span>
        <br /><br />
        <span id="spell-text-sources" class="bold">Sources:</span>
        <ul>
          @for(source of spell().sources; track $index) {
          <li>{{ source }}</li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
