<mat-card appearance="outlined" style="min-height: 80vh;">
  <button mat-raised-button color="accent" (click)="openNewCampaignDialog()" aria-label="Add New Campaign">
    Add New Campaign
  </button>
  <ng-container *ngIf="campaigns.length > 0; else noCampaigns">
    <mat-list>
      <mat-list-item [matMenuTriggerFor]="menu" (click)="selectedCampaign = campaign" *ngFor="let campaign of campaigns"
        class="campaign-list-item">
        <img matListAvatar *ngIf="campaign.getImageSource()" [src]="sanitize(campaign.getImageSource()!)"
          alt="Campaign Image" />
        <mat-icon matListAvatar *ngIf="!campaign.getImageSource()" mat-list-icon>hide_image</mat-icon>
        <h3 matLine>{{campaign.name}}</h3>
        <p matLine>
          <span>Created: {{campaign.date|date:'shortDate'}}</span>
        </p>
        <p matLine>
          <span>Encounters: {{campaign.encounters.length}}</span>
          ,&nbsp;
          <span>Characters: {{campaign.characters.length}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </ng-container>
</mat-card>

<ng-template #noCampaigns>
  <br /><br />
  <mat-divider></mat-divider>
  <br />
  <p>
    No campaigns. Create one to get started!
  </p>
</ng-template>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openNewCampaignDialog(selectedCampaign)">Edit</button>
  <button mat-menu-item routerLink="/encounters/my-encounters" [state]="{ campaignId: selectedCampaign?.id }">View
    Encounters</button>
  <button mat-menu-item color="warn" (click)="openDeleteCampaignDialog(selectedCampaign!)">Delete</button>
</mat-menu>
