<mat-card style="min-height: 80vh;">
  <button mat-raised-button color="accent" (click)="openNewCampaignDialog()" aria-label="Add New Campaign">
    Add New Campaign
  </button>
  <ng-container *ngIf="campaigns.length > 0; else noCampaigns">
    <mat-list>
      <mat-list-item *ngFor="let campaign of campaigns" class="campaign-list-item" routerLink="/encounters/my-encounters" [state]="{ campaignId: campaign.id }">
        <img matListAvatar *ngIf="campaign.getImageSource()" [src]="sanitize(campaign.getImageSource()!)" alt="Campaign Image" />
        <mat-icon matListAvatar *ngIf="!campaign.getImageSource()" mat-list-icon>hide_image</mat-icon>
        <h3 matLine>{{campaign.name}}</h3>
        <p matLine>
          <span>Created: {{campaign.date|date:'shortDate'}}</span>
        </p>
        <p matLine>
          <span>Encounters: {{campaign.encounters.length}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </ng-container>
</mat-card>

<ng-template #noCampaigns>
  No campaigns :(
</ng-template>
