section#container {
  margin: 20px;
}

.card {
  width: 45vw;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  &.fixed-height {
    height: 35vh;
  }
  &.selected {
    position: relative;
    &::after {
      border-radius: 1rem;
      content: "\2713";
      font-size: 48pt;
      color: green;
      text-align: center;
      align-content: center;
      align-items: center;
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.5);
    }
  }
}

#filters > mat-card {
  width: 100%;
}

@media print {
  ::ng-deep {
    app-toolbar,
    app-footer {
      display: none;
    }
  }
  #filters,
  #paginator {
    display: none;
  }
  .card {
    page-break-inside: avoid;
    &.fixed-height {
      height: 100%;
    }
    &.selected {
      &::after {
        display: none;
      }
    }
  }
}
