<section id="container" fxLayout="column">
  <section id="filters" [class.hidden-during-print]="previewMode()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Spells</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <h4 class="mat-subheading-2">Filters</h4>
          <div
            fxLayout="column"
            fxLayout.gt-sm="row"
            fxLayoutGap="1rem"
            fxLayoutAlign="center stretch"
          >
            <div fxLayout="column" fxFlexAlign.gt-sm="start" fxFlex>
              <mat-form-field>
                <mat-label>Filter By Spell Name</mat-label>
                <input
                  matInput
                  name="spell-name"
                  type="text"
                  maxlength="50"
                  [(ngModel)]="filterName"
                />
              </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex fxFlexAlign.gt-sm="end">
              <mat-form-field>
                <mat-label>Filter By Spell Level</mat-label>
                <mat-select
                  name="spell-level"
                  [(ngModel)]="filterLevel"
                  multiple
                >
                  <mat-option [value]="0">Cantrip</mat-option>
                  <mat-option [value]="1">1st Level</mat-option>
                  <mat-option [value]="2">2nd Level</mat-option>
                  <mat-option [value]="3">3rd Level</mat-option>
                  <mat-option [value]="4">4th Level</mat-option>
                  <mat-option [value]="5">5th Level</mat-option>
                  <mat-option [value]="6">6th Level</mat-option>
                  <mat-option [value]="7">7th Level</mat-option>
                  <mat-option [value]="8">8th Level</mat-option>
                  <mat-option [value]="9">9th Level</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-checkbox
                name="only-selected"
                (change)="paginatorPageIndex.set(0)"
                [disabled]="!hasSelectedSpells()"
                [(ngModel)]="onlySelected"
                >Only Show Selected Spells ({{
                  selectedSpells().length
                }})</mat-checkbox
              >
            </div>
          </div>
          <mat-divider></mat-divider>
          <br />
          <h4 class="mat-subheading-2">Quick Options</h4>
          <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="1rem">
            <div fxLayout="column" fxLayoutAlign="center" fxFlex>
              <button
                mat-raised-button
                color="primary"
                [disabled]="!hasSelectedSpells()"
                [matTooltip]="previewModeTooltip()"
                name="print-selected-spells"
                (click)="printPage()"
                (keypress)="printPage()"
              >
                Print Selected Spells
              </button>
              &nbsp;
              <button
                mat-raised-button
                color="accent"
                (click)="clearSelectedSpells()"
                (keypress)="clearSelectedSpells()"
                [disabled]="!hasSelectedSpells()"
              >
                Clear Selected Spells
              </button>
            </div>
            <div fxLayout="column" fxFlex>
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Quick Add Spells by Class</mat-label>
                <mat-select name="quick-add-class-spells">
                  @for (class of spellClasses; track $index) {
                  <mat-option
                    (click)="quickAddSpellsForClass(class)"
                    (keypress)="quickAddSpellsForClass(class)"
                    [value]="class"
                    >{{ class }}</mat-option
                  >
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card-content>
      @if(!previewMode() ) {
      <mat-paginator
        id="paginator-top"
        [class.hidden-during-print]="previewMode()"
        [length]="paginatorLength()"
        [pageSize]="paginatorPageSize()"
        [pageSizeOptions]="paginatorPageSizeOptions()"
        [pageIndex]="paginatorPageIndex()"
        (page)="updatePaginator($event)"
        [showFirstLastButtons]="true"
      />
      }
    </mat-card>
  </section>
  <section
    id="cards"
    [class.hidden-during-print]="previewMode()"
    fxLayout="row wrap"
    fxLayoutGap="0.5rem"
    fxLayoutAlign="center stretch"
  >
    @for(spell of displayedSpells(); track spell.id) {
    <div
      class="card"
      (click)="toggleSpell(spell)"
      (keypress)="toggleSpell(spell)"
      tabindex="0"
      [class.selected]="selectedSpells().indexOf(spell) !== -1"
    >
      <app-spell-card [spell]="spell" />
    </div>
    }
  </section>
  @if(!previewMode() ) {
  <mat-paginator
    id="paginator-bottom"
    [length]="paginatorLength()"
    [pageSize]="paginatorPageSize()"
    [pageSizeOptions]="paginatorPageSizeOptions()"
    [pageIndex]="paginatorPageIndex()"
    (page)="updatePaginator($event)"
    [showFirstLastButtons]="true"
  />
  }
</section>
