<h1 mat-dialog-title>Before You Continue</h1>
<mat-dialog-content class="mat-typography">
  <p>
    Just some of the disclaimers, info, and other stuff, if you don't mind taking a read!<br />
    <small><em>This information last updated {{termsLastUpdated | date:'longDate'}}</em></small>
  </p>
  <h2>Beta</h2>
  <p>
    <strong>House of Gate</strong> is currently in beta. We are putting it out into the world for you to use, however
    please note that there may be occasional issues/errors/bugs here and there. If you find one of these problems,
    please email <a href="mailto:admin@houseofgate.com" rel="noopener" target="_blank">admin@houseofgate.com</a>.
  </p>
  <h2>Unofficial Fan Content</h2>
  <p>
    <strong>House of Gate</strong> is unofficial Fan Content permitted under the Fan Content Policy. Not
    approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast.
    &copy;Wizards of the Coast LLC.
  </p>
  <h2>Some Source Data Not Compiled By Me</h2>
  <p>
    Portions of the source data come from <a href="https://github.com/Asmor/5e-monsters" rel="noopener" target="_blank">Kobald Fight
      Club</a> which has been licensed under the MIT license as noted <a
      href="https://github.com/Asmor/5e-monsters/blob/master/LICENSE" rel="noopener" target="_blank">here</a>.
  </p>
  <h2>It's Just Me</h2>
  <p>
    I'm just a simple guy trying to make some useful resources for my friends and anyone else
    who could benefit.
  </p>
  <h2>Issues or Questions?</h2>
  <p>
    If you have any issues or questions, please email <a href="mailto:admin@houseofgate.com"
      target="_blank" rel="noopener">admin@houseofgate.com</a>.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="acknowledgeTerms()"
    [mat-dialog-close]="true">Acknowledge and Agree</button>
</mat-dialog-actions>
