<ng-container *ngIf="!generatedEncounter">
  <app-monster-filter-bar [filters]="filters" (filterChanges)="updateMonsterFilters($event)"></app-monster-filter-bar>
  <mat-card appearance="outlined">
    <div fxLayout="column">
      <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.lt-md="3px">
        <mat-form-field fxFlex>
          <mat-label>Number of Players</mat-label>
          <input matInput required inputmode="numeric" autocomplete="off" autocapitalize="off" [min]="1" [step]="1"
            [max]="99" appNumberOnly type="number" #numOfPlayers (input)="updateFilters()"
            [(ngModel)]="encounterRequest.numberOfPlayers">
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Player Level</mat-label>
          <input matInput required inputmode="numeric" autocomplete="off" autocapitalize="off" [min]="1" [step]="1"
            [max]="20" type="number" #playerLevel appNumberOnly (input)="updateFilters()"
            [(ngModel)]="encounterRequest.level">
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Maximum # of Enemies</mat-label>
          <input matInput required inputmode="numeric" autocomplete="off" autocapitalize="off" [min]="1" [step]="1"
            [max]="50" type="number" #numOfEnemies appNumberOnly (input)="updateFilters()"
            [(ngModel)]="encounterRequest.maxNumberOfEnemies">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">
        <div fxFlex="20%" style="align-self: center; text-align: center;">
          <span>
            Difficulty:&nbsp;
            <span>
              {{formatSlider(encounterRequest.difficultyAmount)}}
            </span>
            ({{ encounterRequest.difficultyAmount }})
          </span>
        </div>
        <div fxFlex="65%">
          <mat-slider style="width: 100%;" thumbLabel [(ngModel)]="encounterRequest.difficultyAmount"
            (valueChange)="updateFilters()" step="0.01" min="0.5" max="2"
            aria-label="Difficulty Slider"><input matSliderThumb /></mat-slider>
        </div>
        <div fxFlex="15%" style="text-align: center;">
          <button color="primary" matTooltip="Generate Random Encounter!" title="Generate Random Encounter!"
            [disabled]="!numOfEnemies.checkValidity() || !numOfPlayers.checkValidity() || !playerLevel.checkValidity()"
            aria-label="Generate random encounter" style="margin-left: 10px;" mat-raised-button
            (click)="generateRandomEncounter()">
            Generate
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</ng-container>

<ng-container *ngIf="!!generatedEncounter">
  <br />
  <div style="text-align: center;">
    <button mat-raised-button (click)="generatedEncounter = undefined">
      <mat-icon>arrow_back_ios_new</mat-icon>
      New
    </button>
    &nbsp;
    <button mat-raised-button color="accent" [disabled]="!(generatedEncounter.monsters.length > 0)" (click)="saveEncounter()">
      <mat-icon>save</mat-icon>
      Save
    </button>
    &nbsp;
    <button mat-raised-button color="primary" (click)="generateRandomEncounter()">
      <mat-icon>refresh</mat-icon>
      Regenerate
    </button>
  </div>
  <br />
  <app-monster-tables [monsters]="generatedEncounter.monsters"></app-monster-tables>
</ng-container>
