<mat-card appearance="outlined" style="min-height: 80vh;">
  <button mat-raised-button color="accent" (click)="openNewCharacterDialog()" aria-label="Create New Character">
    Create New Character
  </button>
  <br />
  <br />
  <mat-divider></mat-divider>
  <br />
  @if (characters.length > 0) {
    <!-- <mat-form-field>
    <mat-label>Filter By Campaign</mat-label>
    <mat-select [(ngModel)]="selectedCampaigns" (selectionChange)="updateFilter()" multiple>
      <mat-option *ngFor="let campaign of campaigns" [value]="campaign">{{ campaign.name }}</mat-option>
    </mat-select>
  </mat-form-field> -->
  @if (filteredCharacters.length > 0) {
    <mat-list>
      @for (character of filteredCharacters; track character) {
        <mat-list-item [matMenuTriggerFor]="menu" (click)="selectedCharacter = character"
          class="character-list-item">
          @if (character.image) {
            <img matListItemAvatar [src]="getImageUrl(character.image)"
              alt="Character Image" />
          }
          @if (!character.image) {
            <mat-icon matListItemAvatar mat-list-icon>hide_image</mat-icon>
          }
          <h3 matListItemTitle>{{character.name}}</h3>
          <p matListItemLine>
            <span>Created: {{character.created | date:'shortDate'}}</span>
          </p>
          <p matListItemLine>
            <span>Campaign(s): {{character.campaignIds.length}}</span>
          </p>
        </mat-list-item>
      }
    </mat-list>
  } @else {
    <br /><br />
    <br />
    <p>
      There are no characters matching your filter.
    </p>
  }
} @else {
  <br /><br />
  <br />
  <p>
    You don't have any characters. Create one to get started!
  </p>
}
</mat-card>


<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openNewCharacterDialog(selectedCharacter)">Edit</button>
  <button mat-menu-item [routerLink]="['./character-sheet', selectedCharacter?.id || undefined]">Character Sheet</button>
  <button mat-menu-item routerLink="/campaigns" [state]="{ campaignId: selectedCharacter?.id }">View Campaigns</button>
  <!-- <button mat-menu-item color="warn" (click)="openDeleteCampaignDialog(selectedCampaign!)">Delete</button> -->
</mat-menu>
