<mat-card style="min-height: 80vh;">
  <p>
    Welcome to the House of Gate app!
  </p>
  <p>
    The purpose of this application is to provide some useful tools to DMs and players. <strong>Please be aware that
      this app is currently in beta and features may change at any time!</strong> Any feedback can be directed to
    <a href="mailto:admin@houseofgate.com" target="_blank" rel="reply-to">admin@houseofgate.com</a>. You can follow changes on the <a routerLink="/changelog">changelog page</a>.
  </p>
  <h2>Getting Started</h2>
  <p>
    To get started, go to <a routerLink="/campaigns">Campaigns</a> and create a new campaign! From there, you can create
    <a routerLink="/encounters">Encounters</a> and save them to your campaign to use later.
  </p>
  <p>
    There is also a <a routerLink="/monsters">monster search</a> tool to let you search for monsters.
  </p>
  <h2>Optimization</h2>
  <p>
    This app is currently optimized for mobile devices and tablets. More desktop optimizations will come soon!
  </p>
  <h2>Saved Data</h2>
  <p>
    All campaign, encounter, and monster data is saved to your local device/machine. This means that if you erase local
    data, such as your browser cache, you might erase any saved campaign or encounter data you have in this app!
  </p>
  <p>
    I will be creating ways for you to export this data and potentially store this data on a web server in the future so
    that there is less danger of you losing data.
  </p>
</mat-card>
