<div style="width: 100vw; max-width: 100vw;">
  <div style="position: relative; width: 100vw;">
    <button color="primary" style="position: absolute; top: 5px; right: 5px; z-index: 5000;" mat-icon-button [matMenuTriggerFor]="menu"
      title="Add/Remove Columns" aria-label="Change Displayed Columns">
      <mat-icon>view_week</mat-icon>
    </button>
  </div>
  <div style="overflow-x: scroll; width: 100%; max-width: 100%;">
    <table mat-table matSort [dataSource]="dataSource" style="width: 100vw; max-width: 100%;"
      (contentChanged)="finishLoading()">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
        <th style="text-transform: capitalize;" mat-header-cell *matHeaderCellDef mat-sort-header> {{column.name}}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="isArray(element[column.name]) then arrayColumnDisplay else normalColumnDisplay">
          </ng-container>
          <ng-template #normalColumnDisplay>
            {{element[column.name]}}
          </ng-template>
          <ng-template #arrayColumnDisplay>
            <ng-template *ngIf="column.name === 'ac' then acColumnDisplay else normalArrayDisplay">
            </ng-template>
            <ng-template #normalArrayDisplay>
              <ul>
                <li *ngFor="let tuple of element[column.name]">
                  {{ tuple }}
                </li>
              </ul>
            </ng-template>
            <ng-template #acColumnDisplay>
              <ul class="ac-column">
                <li *ngFor="let acData of element[column.name]">
                  {{ acData.ac }}&nbsp;{{ acData.notes }}
                </li>
              </ul>
            </ng-template>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons aria-label="Monster Pagination Options">
  </mat-paginator>
  <mat-menu #menu="matMenu">
    <button *ngFor="let column of columns" (click)="toggleColumn(column); stopPropagation($event);" mat-menu-item>
      <mat-icon>{{column.isShown ? 'done' : 'close'}}</mat-icon>
      <span>{{column.name}}</span>
    </button>
  </mat-menu>
</div>
