<mat-sidenav-container fxFlex="column" style="max-width: 100vw; height: 100vh;">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list aria-label="Left side navigation">
      <div mat-subheader>My Stuff</div>
      <mat-list-item aria-label="My Campaigns page">
        <button mat-icon-button>
          <mat-icon>festival</mat-icon>
        </button>
        <a matLine routerLink="/campaigns" (click)="sidenav.close()">My Campaigns</a>
      </mat-list-item>
      <mat-list-item aria-label="My Encounters page">
        <button mat-icon-button>
          <mat-icon>sports_mma</mat-icon>
        </button>
        <a matLine routerLink="/encounters/my-encounters" (click)="sidenav.close()">My Encounters</a>
      </mat-list-item>
      <div mat-subheader>Tools</div>
      <mat-list-item aria-label="Encounters page">
        <button mat-icon-button>
          <mat-icon>sports_kabaddi</mat-icon>
        </button>
        <a matLine routerLink="/encounters" (click)="sidenav.close()">Encounters</a>
      </mat-list-item>
      <mat-list-item aria-label="Monsters page">
        <button mat-icon-button>
          <mat-icon>pets</mat-icon>
        </button>
        <a matLine routerLink="/monsters" (click)="sidenav.close()">Monster Search</a>
      </mat-list-item>
      <div mat-subheader>Other</div>
      <mat-list-item aria-label="Monsters page">
        <button mat-icon-button>
          <mat-icon>history_edu</mat-icon>
        </button>
        <a matLine routerLink="/changelog" (click)="sidenav.close()">Changelog</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar (toggleMenuClicked)="sidenav.toggle()" style="width: 100%;"></app-toolbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
