<app-toolbar style="width: 100%;"></app-toolbar>
<mat-card class="filters">
  <mat-form-field appearance="standard">
    <mat-label>Filter By Name</mat-label>
    <input matInput (input)="filter()" [(ngModel)]="filters.name">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Min CR</mat-label>
    <mat-select (selectionChange)="filter()" [(ngModel)]="filters.minCr">
      <mat-option [value]="0">0</mat-option>
      <mat-option [value]="1/8">1/8</mat-option>
      <mat-option [value]="1/4">1/4</mat-option>
      <mat-option [value]="1/2">1/2</mat-option>
      <mat-option *ngFor="let val of fill(1, 30)" [value]="val">{{val}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Max CR</mat-label>
    <mat-select (selectionChange)="filter()" [(ngModel)]="filters.maxCr">
      <mat-option [value]="0">0</mat-option>
      <mat-option [value]="1/8">1/8</mat-option>
      <mat-option [value]="1/4">1/4</mat-option>
      <mat-option [value]="1/2">1/2</mat-option>
      <mat-option *ngFor="let val of fill(1, 30)" [value]="val">{{val}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Type</mat-label>
    <mat-select (selectionChange)="filter()" [(ngModel)]="filters.type">
      <mat-option [value]="''">All</mat-option>
      <mat-option *ngFor="let type of monsterTypes" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
<table mat-table cdkDropList matSort cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)"
  [dataSource]="dataSource" style="width: 100%">

  <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
    <th style="text-transform: capitalize;" mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> {{column.name}}
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container
        *ngIf="column.name === 'ac' && isArray(element[column.name]) then acColumnDisplay else normalColumnDisplay">
      </ng-container>
      <ng-template #normalColumnDisplay>
        {{element[column.name]}}
      </ng-template>
      <ng-template #acColumnDisplay>
        <span *ngFor="let acData of element[column.name]">
          {{ acData.ac }} {{ acData.notes }}<br />
        </span>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons aria-label="Monster Pagination Options">
</mat-paginator>
