<ng-container *ngIf="encounters && encounters.length then previousEncounters else emptyEncounters">
</ng-container>
<ng-template #previousEncounters>
  <mat-nav-list>
    <h3 matLine>
      Your {{ encounters.length }} previously generated encounters:
    </h3>
    <a mat-list-item *ngFor="let encounter of encounters" (click)="loadPreviousEncounter($event, encounter)">
      <span mat-line>{{ encounter.dateGenerated | date:'short' }}</span>
      <span mat-line>Difficulty: {{ encounter.request.difficultyAmount }}</span>
      <span mat-line>Max Enemies: {{ encounter.request.maxNumberOfEnemies }}</span>
      <span mat-line>Level: {{ encounter.request.level }}</span>
      <span mat-line># of Players: {{ encounter.request.numberOfPlayers }}</span>
      <ul mat-line>
        <li *ngFor="let monster of encounter.encounters">
          {{ monster.monster.name }} x{{ monster.quantity }}
        </li>
      </ul>
    </a>
  </mat-nav-list>
</ng-template>
<ng-template #emptyEncounters>
  <p>
    There are sadly no previous encounters :(. Go make a new one!
  </p>
</ng-template>
