<h1 mat-dialog-title>Create New Campaign</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Campaign Name</mat-label>
    <input matInput aria-label="Name for your new campaign" required type="text" minlength="1" maxlength="100"
      [(ngModel)]="campaign.name">
  </mat-form-field>
  <div>
    <label for="campaign-image">Campaign Image (Optional)</label><br /><br />
    <input id="campaign-image" aria-label="Optionally upload an image representing your campaign"
      title="Have an image to represent your campaign?" type="file" accept="image/*" (change)="onFileChange($event)">
  </div>
  <br/>
  <mat-divider></mat-divider>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button [disabled]="!isValid" color="accent" [mat-dialog-close]="campaign" cdkFocusInitial>Create</button>
</div>
