<div [class.hidden]="isLoading">
  <app-spell-filter-bar (filterChanges)="filter($event)" [filters]="filters"></app-spell-filter-bar>
  <br />
  <mat-divider></mat-divider>
  <br />
  <app-spell-tables [spells]="displayedSpells" (isLoading)="tableLoading($event)"></app-spell-tables>
</div>
<ng-container *ngIf="isLoading">
  <mat-card fxLayout="column" class="app-loading mat-typography">
    <div>
      <h1>House of Gate</h1>
      <h4>Loading...</h4>
    </div>
    <div>
      <mat-spinner></mat-spinner>
    </div>
  </mat-card>
</ng-container>
