<mat-card style="min-height: 80vh;">
  <h2>Changes To The App</h2>
  <ul>
    <li>2022-01-08</li>
    <ul>
      <li>Fixed incorrect label on spell filter bar</li>
      <li>Fixed bug where filtering spells to 0 results could break spell search.</li>
      <li>Added feedback page for people to submit feedback.</li>
    </ul>
    <li>2022-01-07</li>
    <ul>
      <li>Added Spell Search</li>
      <li>Upgraded to Angular 13. Internet Explorer support fully removed.</li>
      <li>Fixed bug where filtering monsters to 0 results could break monster search.</li>
    </ul>
    <li>2021-11-23</li>
    <ul>
      <li>Added a home page</li>
      <li>Added a changelog page</li>
      <li>Removed the snackbar notice that popped up when you opened the application which stated that this app is in
        beta. It's no longer needed since the home page has that content.</li>
    </ul>
    <li>2021-11-22</li>
    <ul>
      <li>Added the ability to delete encounters from My Encounters</li>
    </ul>
    <li>
      <em>Older History Not Written</em> 😢
    </li>
  </ul>
</mat-card>
