<mat-card appearance="outlined" style="min-height: 80vh">
    <mat-tab-group fxLayout="column">
        <mat-tab label="Potion Brewing">
            <br />
            <potion-making-potion-brewing></potion-making-potion-brewing>
        </mat-tab>
        <mat-tab label="Ingredients">
            <br />
            <potion-making-ingredients-list fxFlex></potion-making-ingredients-list>
        </mat-tab>
        <mat-tab label="Potions">
            <br />
            <potion-making-potions-list fxFlex></potion-making-potions-list>
        </mat-tab>
    </mat-tab-group>
</mat-card>