<mat-card appearance="outlined" style="min-height: 80vh">

    <mat-tab-group fxLayout="column">
        <mat-tab label="Potion Brewing">
            <br />
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="2%" fxLayoutGap.lt-md="3px">
                <potion-making-ingredient-autocomplete-input fxFlex label="Ingredient #1"
                    [initialSelectedIngredient]="selectedIngredient1()"
                    (optionSelected)="selectedIngredient1.set($event)"></potion-making-ingredient-autocomplete-input>
                <potion-making-ingredient-autocomplete-input fxFlex label="Ingredient #2"
                    [initialSelectedIngredient]="selectedIngredient2()"
                    (optionSelected)="selectedIngredient2.set($event)"></potion-making-ingredient-autocomplete-input>
                <potion-making-ingredient-autocomplete-input fxFlex label="Ingredient #3"
                    [initialSelectedIngredient]="selectedIngredient3()"
                    (optionSelected)="selectedIngredient3.set($event)"></potion-making-ingredient-autocomplete-input>
                <!-- <mat-form-field fxFlex>
                    <mat-label>Ingredient #1</mat-label>
                    <input matInput type="text" spellcheck="false" [matAutocomplete]="autoIng1"
                        [(ngModel)]="selectedIngredient1">
                    <mat-autocomplete #autoIng1="matAutocomplete" [displayWith]="ingredientDisplay">
                        @for (option of filteredIngredientsList1(); track option.Name) {
                        <mat-option [value]="option" style="border-bottom: 1px solid;">
                            <strong>{{option.Name}}</strong><br />
                            <small>
                                <em>
                                    {{option.Rarity}} Ingredient
                                </em>
                            </small><br />
                            <small>
                                <strong>C:</strong> {{ option.Combat}} |
                                <strong>U:</strong> {{ option.Utility }} |
                                <strong>W:</strong> {{ option.Whimsy }}
                            </small>
                        </mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Ingredient #2</mat-label>
                    <input matInput type="text" spellcheck="false" [matAutocomplete]="autoIng2"
                        [(ngModel)]="selectedIngredient2">
                    <mat-autocomplete #autoIng2="matAutocomplete" [displayWith]="ingredientDisplay">
                        @for (option of filteredIngredientsList2(); track option.Name) {
                        <mat-option [value]="option" style="border-bottom: 1px solid;">
                            <strong>{{option.Name}}</strong><br />
                            <small>
                                <em>
                                    {{option.Rarity}} Ingredient
                                </em>
                            </small><br />
                            <small>
                                <strong>C:</strong> {{ option.Combat}} |
                                <strong>U:</strong> {{ option.Utility }} |
                                <strong>W:</strong> {{ option.Whimsy }}
                            </small>
                        </mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Ingredient #3</mat-label>
                    <input matInput type="text" spellcheck="false" [matAutocomplete]="autoIng3"
                        [(ngModel)]="selectedIngredient3">
                    <mat-autocomplete #autoIng3="matAutocomplete" [displayWith]="ingredientDisplay">
                        @for (option of filteredIngredientsList3(); track option.Name) {
                        <mat-option [value]="option" style="border-bottom: 1px solid;">
                            <strong>{{option.Name}}</strong><br />
                            <small>
                                <em>
                                    {{option.Rarity}} Ingredient
                                </em>
                            </small><br />
                            <small>
                                <strong>C:</strong> {{ option.Combat}} |
                                <strong>U:</strong> {{ option.Utility }} |
                                <strong>W:</strong> {{ option.Whimsy }}
                            </small>
                        </mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field> -->
            </div>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%" fxLayoutGap.lt-md="3px">
                <div fxLayout="column" fxFlex="15%">
                    <div fxLayout="row wrap" fxFlex>
                        <mat-list role="list" fxFlex>
                            <mat-list-item role="listitem"
                                [class.highest-value-type]="highestValueTypes()?.maxValue === combatTotal()">
                                <strong>Combat:</strong>&nbsp;
                                <span>{{ combatTotal() }}</span>
                            </mat-list-item>
                            <mat-list-item role="listitem"
                                [class.highest-value-type]="highestValueTypes()?.maxValue === utilityTotal()">
                                <strong>Utility:</strong>&nbsp;
                                <span>{{ utilityTotal() }}</span>
                            </mat-list-item>
                            <mat-list-item role="listitem"
                                [class.highest-value-type]="highestValueTypes()?.maxValue === whimsyTotal()">
                                <strong>Whimsy:</strong>&nbsp;
                                <span>{{ whimsyTotal() }}</span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <div fxLayout="column" fxFlex>
                    @for(potion of resultingPotions(); track potion.Name) {
                    <div fxLayout="row" fxLayoutGap="2%">
                        <mat-card appearance="outlined">
                            <mat-card-header>
                                <mat-icon mat-card-avatar style="transform: scale(2)">science</mat-icon>
                                <mat-card-title>{{potion.Name}}</mat-card-title>
                                <mat-card-subtitle>{{ potion.Rarity }}&nbsp;{{ potion.Type
                                    }}&nbsp;Potion</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    {{ potion.Description }}
                                </p>
                                <em>{{ potion.Source }}</em>
                            </mat-card-content>
                            <mat-card-footer>

                            </mat-card-footer>
                        </mat-card>
                    </div>
                    }
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Ingredients">
            <br />
            <potion-making-ingredients-list fxFlex></potion-making-ingredients-list>
        </mat-tab>
        <mat-tab label="Potions">
            <br />
            <potion-making-potions-list fxFlex></potion-making-potions-list>
        </mat-tab>
    </mat-tab-group>
</mat-card>