.centered {
  text-align: center;
}

.full-width {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.character-image {
  border-radius: 50%;
  object-fit: cover;
  width: 13em;
  height: 13em;
}

/* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version. */
mat-progress-bar.health-bar {
  height: 20px;
}

.health-area {
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
  .health-text {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 100;
    left: 0;
    vertical-align: middle;
  }
}

.stats-body {
  h2,
  h3,
  h4 {
    margin: 0;
  }
  td:first-child {
    text-align: left;
  }
}

.editable-content-menu {
  margin-left: 1em;
  margin-right: 1em;
  .editable-content-menu-input {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}
