<mat-card class="filters">
  <mat-form-field appearance="standard">
    <mat-label>Filter By Name</mat-label>
    <input matInput (change)="filter()" [(ngModel)]="filters.name">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Min CR</mat-label>
    <mat-select (change)="filter()" [(ngModel)]="filters.minCr">
      <mat-option [value]="0">0</mat-option>
      <mat-option [value]="1/8">1/8</mat-option>
      <mat-option [value]="1/4">1/4</mat-option>
      <mat-option [value]="1/2">1/2</mat-option>
      <mat-option *ngFor="let val of fill(1, 30)" [value]="val">{{val}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Max CR</mat-label>
    <mat-select (change)="filter()" [(ngModel)]="filters.maxCr">
      <mat-option [value]="0">0</mat-option>
      <mat-option [value]="1/8">1/8</mat-option>
      <mat-option [value]="1/4">1/4</mat-option>
      <mat-option [value]="1/2">1/2</mat-option>
      <mat-option *ngFor="let val of fill(1, 30)" [value]="val">{{val}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Type</mat-label>
    <mat-select (change)="filter()" [(ngModel)]="filters.type" multiple>
      <mat-option *ngFor="let type of monsterTypes" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button mat-raised-button (click)="filter()">Filter</button>
</mat-card>
