<mat-card style="min-height: 80vh;">
  <button mat-raised-button color="accent" (click)="openNewCharacterDialog()" aria-label="Create New Character">
    Create New Character
  </button>
  <br />
  <br />
  <mat-divider></mat-divider>
  <br />
  <ng-container *ngIf="characters.length > 0; else noCharacters">
    <mat-form-field>
      <mat-label>Filter By Campaign</mat-label>
      <mat-select [(ngModel)]="selectedCampaigns" (selectionChange)="updateFilter()" multiple>
        <mat-option *ngFor="let campaign of campaigns" [value]="campaign">{{ campaign.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="filteredCharacters.length > 0; else noFilteredCharacters;">
      <mat-list>
        <mat-list-item [matMenuTriggerFor]="menu" (click)="selectedCharacter = character"
          *ngFor="let character of filteredCharacters" class="character-list-item">
          <img matListAvatar *ngIf="character.getImageSource()" [src]="sanitize(character.getImageSource()!)"
            alt="Character Image" />
          <mat-icon matListAvatar *ngIf="!character.getImageSource()" mat-list-icon>hide_image</mat-icon>
          <h3 matLine>{{character.name}}</h3>
          <p matLine>
            <span>Created: {{character.created | date:'shortDate'}}</span>
          </p>
          <p matLine>
            <span>Campaign(s): {{character.campaignIds.length}}</span>
          </p>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </ng-container>
</mat-card>

<ng-template #noCharacters>
  <br /><br />
  <br />
  <p>
    You don't have any characters. Create one to get started!
  </p>
</ng-template>
<ng-template #noFilteredCharacters>
  <br /><br />
  <br />
  <p>
    There are no characters matching your filter.
  </p>
</ng-template>

<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item (click)="openNewCampaignDialog(selectedCampaign)">Edit</button> -->
  <button mat-menu-item routerLink="/campaigns" [state]="{ campaignId: selectedCharacter?.id }">View Campaigns</button>
  <!-- <button mat-menu-item color="warn" (click)="openDeleteCampaignDialog(selectedCampaign!)">Delete</button> -->
</mat-menu>
