/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
  height: 100%;
}

@media (min-width: 480px) {
  .mat-form-field + .mat-form-field,
  .mat-form-field + .mat-mini-fab,
  .mat-mini-fab + .mat-mini-fab {
    margin-left: 8px;
  }
}

@media (max-width: 479px) {
  .mat-form-field {
    width: 100%;
  }

  .mat-form-field + .mat-mini-fab,
  .mat-mini-fab + .mat-mini-fab {
    margin-left: 8px;
  }
}

.capitalize {
  text-transform: capitalize;
}

.clickable {
  cursor: pointer;
}
