/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
  height: 100%;
}

@media (min-width: 480px) {
  .mat-form-field + .mat-form-field,
  .mat-form-field + .mat-mdc-mini-fab,
  .mat-mini-fab + .mat-mini-fab {
    margin-left: 8px;
  }

  #main {
    mat-card {
      padding: 2em 5em 2em 5em;
    }
  }
}

@media (max-width: 479px) {
  .mat-mdc-form-field {
    width: 100%;
  }

  .mat-form-field + .mat-mdc-mini-fab,
  .mat-mini-fab + .mat-mini-fab {
    margin-left: 8px;
  }

  #main {
    mat-card {
      padding: 1em 2.5em 1em 2.5em;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

.clickable {
  cursor: pointer;
}
