ul,
li {
  margin-left: 0;
  padding-left: 0;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-description {
  padding: 16px;
  .spell-text {
    overflow-x: auto;
    white-space: pre-line;
    word-wrap: break-word;
    text-indent: 0%;
  }
}

.sources-column li,
.sources-column ul {
  list-style: none;
}

.mat-cell {
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-column-classes {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 55px;
}

.mat-column-duration {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 45px;
}

.mat-column-components {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 55px;
}

.mat-column-range {
  padding-left: 8px;
  padding-right: 8px;
}

.mat-column-ritual {
  padding-left: 8px;
  padding-right: 8px;
}

.mat-column-range {
  padding-left: 8px;
  padding-right: 8px;
}

.mat-column-time {
  padding-left: 8px;
  padding-right: 8px;
  max-width: 38px;
}

.mat-column-school {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 48px;
}

.mat-column-sources {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 70px;
}
