<h1 mat-dialog-title>Delete Campaign?</h1>
<div mat-dialog-content>
  <p>
    Are you sure you want to delete {{providedCampaign.name}}?
  </p>
  @if (providedCampaign.encounters.length > 0) {
    <p>
      This will also delete the following encounters:
    </p>
    <ul>
      @for (encounter of providedCampaign.encounters; track encounter) {
        <li>
          {{ encounter.name }}
        </li>
      }
    </ul>
  }
  <br />
  <mat-divider></mat-divider>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close(false)">Cancel</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true">
    Delete
  </button>
</div>
